* {
	margin: 0;
	padding: 0;
}

#games-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, 100px);
	grid-template-rows: repeat(auto-fill, 100px);
	align-items: center;
	/* grid-auto-columns: auto; */
	width: 100%;
	height: auto;
	background-color: #2a2a2a;
}

.game {
	width: 100px;
	height: 100px;
	background-image: url(images/game.png);
	background-size: cover;
}

.game-label {
	text-align: center;
	font-family: fantasy;
	font-weight: bold;
}

.game-image {
	position: relative;
	left: 40%;
	width: 55%;
	height: 55%;
}

.game-delete {
	position: relative;
	width: 25px;
	height: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 25%;
}

.game-delete::before,
.game-delete::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 3px; /* cross thickness */
	background-color: black;
}

.game-delete::before {
	transform: rotate(45deg);
}

.game-delete::after {
	transform: rotate(-45deg);
}

#add-game-button {
	width: 75px;
	height: 75px;

	background: linear-gradient(#fff, #fff) top left,
		linear-gradient(#fff, #fff) top right,
		linear-gradient(#fff, #fff) bottom left,
		linear-gradient(#fff, #fff) bottom right;
	background-size: calc(50% - 1.5px) calc(50% - 1.5px);
	background-repeat: no-repeat;
	border: 10px solid #fff;
	box-sizing: border-box;
	border-radius: 50%;
}

#add-game-input {
	display: none;
}

#player-container {
	background-color: #1d1d1d;
}
